.App {
  text-align: center;
}

.modal {
  width: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tab-button:hover {
  border: 2px;
  border-width: 2px;
  border-style: solid;
}

h1,
p,
a,
button {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
